/**
 * Global Project Specific Variables
 */
@import "config/paths";
@import "config/colors";
@import "config/typography";
@import "config/dimensions";
@import "config/breakpoints";
//@import "config/grid";



/**
 * Functions & Mixins & Animations
 */

// utilities
@import "helpers/functions/opposite-direction";
@import "helpers/functions/parseInt";
@import "helpers/functions/easing";
@import "helpers/animations/animations";

@import "helpers/mixins/rem";
@import "helpers/mixins/bp";
@import "helpers/mixins/gradient";

// styling utilities
@import "helpers/globals/normalize";
@import "helpers/globals/typography";
@import "helpers/globals/responsive";

@import "helpers/mixins/fit";
@import "helpers/mixins/list";
@import "helpers/mixins/reset";
@import "helpers/mixins/clearfix";
@import "helpers/mixins/nocollapse";
@import "helpers/mixins/visuallyhidden";
@import "helpers/mixins/font-face";
@import "helpers/mixins/flexbox";

// css shapes
@import "helpers/mixins/shape-triangle";

// form elements
@import "helpers/mixins/range";
@import "helpers/mixins/placeholder";

// transitions
@import "helpers/mixins/cascade";



/**
* Fonts, Icon Fonts & Sprites
* ( - Each one requests external resources, keep out of critical css? - )
*/

/*
@include font-face(Roboto, $p_fonts+'Roboto-Bold', bold);
@include font-face(Roboto, $p_fonts+'Roboto-BoldItalic', bold, italic);
@include font-face(Roboto, $p_fonts+'Roboto-Regular');
@include font-face(Roboto, $p_fonts+'Roboto-Italic', 400, italic);
@include font-face(Roboto, $p_fonts+'Roboto-Light', 300);
@include font-face(Roboto, $p_fonts+'Roboto-LightItalic', 300, italic);
*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:100,100i,300,300i,400,400i,700,700i,900,900i');

/**
* Vendor Styles
* ( - Not Modified for Maintainability - )
* ( - Reset/Normalize First - )
*/
@import "vendor/normalize";
@import "vendor/polyfill.object-fit";
@import "vendor/moz-backround-picture";
@import "vendor/utility-classes";
@import "vendor/bs-grid/grid";
@import "vendor/iyte-icons/style";
@import "vendor/slippry";



/**
* Your Custom Styles
*/
@import "elements/global";
@import "elements/header";
@import "elements/footer";
@import "elements/home/home";
@import "elements/manset/manset";
