//site globals
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body, p {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    line-height: 133%;
}
body{
    background: #f1d7da;
}
.hero_header .header{
    max-width: $d_bx_size;
}
main>section{
    padding: 50px 0;
    clear: both;
}
.box_wrapper{
    max-width: $d_bx_size;
    margin: 0 auto;
    background: #fff;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    transition: $quick_tr;
}
.stretch{
    overflow-x:hidden;
}
.stretch_it{
    white-space: nowrap;
}

.menu__list{    

    @include flexbox();
    @include flex-flow(row nowrap);
    @include justify-content(space-between);
    @include align-items(center);

    margin: 0;
    
    li{
       // @include rem(margin-left,5rem);
        height: 100%;
        vertical-align: middle;
        position: relative;
        margin: 0;
        a{
            font-family: $t_nav;
            font-size: 20px;
            color: $ca_nav_a;
            display: block;
            width: 100%;
            height: 100%;
            font-weight: 700;
            transition: $quick_tr;
            letter-spacing: 1px;
            padding: 10px 20px 10px 10px;
            
            &:hover{
                color:$ca_nav_a_hover;
                
            }
        }
        
        
        &.menu__item--current{
            a{
                color:$ca_nav_a_hover;
            }
        }
        &.menu__item--has-children:focus .menu__list--submenu,
        &.menu__item--has-children:hover .menu__list--submenu,
        &.menu__item--has-children:focus-within .menu__list--submenu{
            visibility: visible; /* shows sub-menu */
            opacity: 1;
            z-index: 1;
            transform: translateY(0%);
            //
        }
    }
    & > .menu__item--has-children:hover > a{
                                

                background: $c_brand;
                                                            
                    &:after{
                        position: absolute;
                        top: 12px;
                        right: 6px;
                        content: $icon-arrow-right;
                        font-family: iyte_web;
                        font-size: 8px;
                        color: #fff;
                        transform: rotate(90deg);
                    }

                
            
            
    }
    &--submenu{
        border-top: 1px solid $c_brand_dark;
        display: block;
        margin: 0;
        visibility: hidden; /* hides sub-menu */
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        transform: translateY(-2em);
        z-index: -1;
        transition: all 0.2s ease-out 0s, visibility 0s linear 0.01s, z-index 0s linear 0.01s;
        //transition-delay: 0s, 0s, 0.3s;
        width: auto;
        
        li{
            a{
                padding: 7px 15px;
                margin: 0;
                display: inline-block;
                white-space: nowrap;
                font-size: 15px;
                color: $ca_nav_a_hover;
                background-color: $c_brand;
                transition: $quick_tr;
                &:hover/*, .menu__item--current &*/ { //enable on live
                    background-color: $c_brand_dark;
                }
            }
        }
    }

    &--level-0 >li:hover>a {
        background: $c_brand;
                
    }
}

.section-title{
    letter-spacing: -0.5px;
    @at-root{
        h1#{&} {
           margin: 0 0 12px 0; 
        }
    }
}
.img-cover{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-clip: content-box;
}
.card-stack{
    padding: 0 15px;
    flex-wrap: nowrap;
    @include media-breakpoint-down(md){
        flex-wrap: wrap;
        justify-content: space-around !important;
    }
}
.card{
    width: 24%;
    height: 200px;
    position: relative;
    margin-top:2%;
    background-blend-mode:hard-light;
    transition: $quick_tr;
    @include media-breakpoint-down(xl){
        height: 170px;
        
    }
    @include media-breakpoint-down(lg){
        height: 150px;
        
    }
    @include media-breakpoint-down(md){
        height: 200px;
        width: 48%;
        
    }
    @include media-breakpoint-down(sm){
        height: 260px;
        width: 100%;
        
    }
    &:hover{
        background-color: $c_gr_4;
        .card__title{
            color: $ca_nav_a_hover;
        }
    }
    
    .overlay{
        display: block;  
        width: 100%;
        height: 100%;
        @include linearGradient('bottom', rgba(0,0,0,.7), rgba(0,0,0,0), rgba(0,0,0,0));

    }
    &__title{
            font-size: 14px;
            font-weight: 300;
            color: #fff;
            position: absolute;
            width: 90%;
            text-align: left;
            left: 5%;
            bottom: 5%;
            margin: 0;
            text-shadow: 0px 0px 3px rgba(0,0,0,.5);
            letter-spacing: 0.5px;
            transition: $quick_tr;

            @include media-breakpoint-down(md){
                font-size: 2vw;
                bottom: 8%;
            }
            @include media-breakpoint-down(md){
                font-size: 3vw;
                bottom: 8%;
                text-align: center;
                font-weight: 400;
            }

    }
}

.btn{
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px;
    color: #fff;
    margin: 0 10px 15px 10px;
    
    &.bordered{
        border-width: 1px;
        border-style: solid;
        border-color: #fff;
    }
    &__tooltip{
        opacity: 0;
        visibility: hidden;
        @include centerer("x");
        text-align: center;
        top:-40px;
        transition: $quick_tr;
        border-radius: 4px;
        padding: 4px 10px;
        background-color: #000; 
        white-space: nowrap;

        &:before{
            content:'';
            display:block;
            width:0;
            height:0;
            border-top: 8px solid #000;
            border-left: 8px solid transparent;
            border-right:8px solid transparent;
            bottom:-8px;

            @include centerer("x");
            
        }

    }
    &:hover{
        background-color: #000;
        color: #fff;
        &.bordered{
            border-color: #000;
        }
        
        .btn__tooltip{
            top: -44px;
            opacity: 1;
            visibility: initial;
        }

       

    }
    &__icon{
        @include centerer("xy");
        font-size: 32px;
        &::before{

                color: #fff;
            }
        
    }
}