//site globals
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body, p {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    line-height: 133%;
}
a{
    text-decoration: none;
    transition: $quick_tr;
}
.stretch{
    overflow-x:hidden;
}
.stretch_it{
    white-space: nowrap;
}

.menu__list{    

    @include flexbox();
    @include flex-flow(row wrap);
    @include justify-content(space-between);
    @include align-items(center);

    margin: 0;
    
    li{
        @include rem(margin-left,5rem);
        height: 100%;
        vertical-align: middle;
        position: relative;
        a{
            font-family: $t_nav;
            font-size: 20px;
            color: $ca_nav_a;
            display: block;
            width: 100%;
            height: 100%;
            font-weight: 300;
            transition: $quick_tr;
            letter-spacing: 1px;
            
            &:hover{
                color:$ca_nav_a_hover;
                
            }
        }
        
        
        &.menu__item--current{
            a{
                color:$ca_nav_a_hover;
            }
        }
        &.menu__item--has-children:focus .menu__list--submenu,
        &.menu__item--has-children:hover .menu__list--submenu,
        &.menu__item--has-children:focus-within .menu__list--submenu{
            visibility: visible; /* shows sub-menu */
            opacity: 1;
            z-index: 1;
            transform: translateY(0%);
            transition-delay: 0s, 0s, 0.3s;
        }
    }
    & > .menu__item--has-children:hover > a{
                                

                background: $c_brand;
                                                            
                    &:after{
                        position: absolute;
                        top: 20px;
                        right: 7px;
                        content: $icon-arrow-right;
                        font-family: iyte_web;
                        font-size: 8px;
                        color: #fff;
                        transform: rotate(90deg);
                    }

                
            
            
    }
    &--submenu{
        border-top: 1px solid $c_brand_dark;
        margin: 0;
        visibility: hidden; /* hides sub-menu */
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        transform: translateY(-2em);
        z-index: -1;
        transition: all 0.2s ease-in-out 0s, visibility 0s linear 0.2s, z-index 0s linear 0.01s;
        width: auto;
        li{
            a{
                padding: 10px 20px;
                font-size: 15px;
                color: $ca_nav_a_hover;
                background-color: $c_brand;
                transition: $quick_tr;
                &:hover/*, .menu__item--current &*/ { //enable on live
                    background-color: $c_brand_dark;
                }
            }
        }
    }

    &--level-0 >li:hover>a {
        background: $c_brand;
                
    }
}

.section-title{
    letter-spacing: -0.5px;
    @at-root{
        h1#{&} {
           margin: 0 0 12px 0; 
        }
    }
}
.img-cover{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-clip: content-box;
}
.card-stack{
    padding: 0 15px;
    flex-wrap: nowrap;
    @include media-breakpoint-down(md){
        flex-wrap: wrap;
        justify-content: space-around !important;
    }
}
.card{
    width: 24%;
    height: 160px;
    position: relative;
    margin-top:2%;
    background-blend-mode:hard-light;
    transition: $quick_tr;
    @include media-breakpoint-down(md){
        height: 220px;
        width: 48%;
        
    }
    @include media-breakpoint-down(sm){
        height: 220px;
        width: 100%;
        
    }
    &:hover{
        background-color: $c_brand_dark;
        .card__title{
            color: $ca_nav_a_hover;
        }
    }
    
    .overlay{
        display: block;  
        width: 100%;
        height: 100%;
        @include linearGradient('bottom', rgba(0,0,0,.7), rgba(0,0,0,0), rgba(0,0,0,0));

    }
    &__title{
            font-size: 14px;
            font-weight: 300;
            color: #fff;
            position: absolute;
            width: 90%;
            text-align: left;
            left: 5%;
            bottom: 5%;
            margin: 0;
            text-shadow: 0px 0px 3px rgba(0,0,0,.5);
            letter-spacing: 0.5px;
            transition: $quick_tr;

            @include media-breakpoint-down(md){
                font-size: 2vw;
                bottom: 8%;
            }

    }
}