//site globals
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body, p {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    line-height: 133%;
}
body{
    background: #dedede;
}
.hero_header .header{
    max-width: $d_bx_size;
}
main>section{
    padding: 50px 0;
    clear: both;
}
.box_wrapper{
    max-width: $d_bx_size;
    margin: 0 auto;
    background: #fff;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    transition: $quick_tr;
}
.stretch{
    overflow-x:hidden;
}
.stretch_it{
    white-space: nowrap;
}
.hover__animate{
    transition: $quick_tr;
    &:hover{
        color:$ca_nav_a_hover !important;
        
    }
}
.hide{
    display: none;
    height:560px !important;
    
    
}

.show{
    display: initial;
}
.menu__list{    

    @include flexbox();
    @include flex-flow(row nowrap);
    @include justify-content(space-between);
    @include align-items(center);

    margin: 0;
    padding:0;
    
    li{
       // @include rem(margin-left,5rem);
        height: 100%;
        vertical-align: middle;
        position: relative;
        margin: 0;
        a{
            font-family: $t_nav;
            font-size: 24px;
            color: #fff;
            display: block;
            width: 100%;
            height: 100%;
            font-weight: 400;
            transition: $quick_tr;
            letter-spacing: 0.5px;
            padding: 10px 20px 10px 10px;
            @include media-breakpoint-down(xl){
                font-size: 21px;
                padding: 10px;
                letter-spacing: 0;
            }
            @include media-breakpoint-down(lg){
                font-size: 18px;
                padding: 10px;
                letter-spacing: 0;
            }
            
            &:hover{
                color:$ca_nav_a_hover;
                
            }
        }
        
        
        &.menu__item--current{
            a{
                color:#fff;
            }
        }
        &.menu__item--has-children:focus .menu__list--submenu,
        &.menu__item--has-children:hover .menu__list--submenu{
            visibility: visible; /* shows sub-menu */
            opacity: 1;
            z-index: 1;
            transform: translateY(0%);
            //transition-delay: 0s, 0s, 0.3s;
        }
    }
    & > .menu__item--has-children:hover > a{
                                

                background: $c_brand;
                box-shadow: 0px 0px 8px rgba(0,0,0,.2);
                z-index: 1;
                position: relative;
                color: #fff;
                border-radius: 4px 4px 0 0;
                                                            
                    &:after{
                        position: absolute;
                        top: 12px;
                        right: 6px;
                        content: $icon-arrow-right;
                        @include media-breakpoint-down(xl){
                            display: none;
                        }
                        font-family: iyte_web;
                        font-size: 8px;
                        color: #fff;
                        transform: rotate(90deg);
                        
                    }

                
            
            
    }
    &--submenu{
        
        display: block;
        margin: 0;
        visibility: hidden; /* hides sub-menu */
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        transform: translateY(-2em);
        z-index: -1;
        transition: all 0.2s ease-out 0s, visibility 0s linear 0.1s, z-index 0s linear 0.01s;
        box-shadow: 0px 0px 8px rgba(0,0,0,.2);
        
        width: auto;
        
        li{
            a{
                padding: 7px 15px;
                margin: 0;
                display: inline-block;
                white-space: nowrap;
                font-size: 16px;
                color: $c_gr_5;
                background-color: $c_brand;
                transition: $quick_tr;
                &:hover/*, .menu__item--current & */{ //enable on live
                    background-color: $c_brand_dark;
                }
            }
        }
        li.menu__item--current a {
            background-color: $c_brand_dark;
        } 
    }

    &--level-0 >li:hover>a {
        background: $c_brand;
                
    }
}

#mobilemenu{
    background: #fff;
    position: fixed;
    width: 75%;
    height: 100%;
    top: 0px;
    right: 0;
    padding-top: 40px;
    box-shadow: 0 6px 4px 3px rgba(0,0,0,.2);
    z-index: 99;
    overflow: scroll;
    transition: $quick_tr;
    &.hidden{
        right: -100%;
    }
    .toggle-mobile-menu{
        position: absolute;
        right: 20px;
        top: 20px;
        a{
            color: $c_gr_1;
            span{
                font-size: 32px;
                @include media-breakpoint-down(sm){
                    font-size: 24px;
                }
            }
        }
    }
    .menu{
        li:hover a{
            background: transparent !important;
            box-shadow: none;
        }
        &__list{
            display: block;
            padding: 0 25px;
            &--submenu{
                padding: 0 0 0 20px;
                display: none;
                opacity: 1;
                visibility: visible;
                position: relative;
                border: none;
                transform: none;
                box-shadow: none;
                &.open{
                    display: block;
                }

                li{
                    a{
                        background: transparent !important;
                        font-size: 3vw;
                        padding: 15px 0;
                        white-space:initial;
                        @include media-breakpoint-down(sm){
                            font-size: 4.5vw;
                        }
                    }
                }

            }
            &>.menu__item--has-children:hover>a{
                background: #fff;
            }
            

        }
        &__item{
            a{
                font-size: 3.5vw;
                line-height: 133%;
                color: $c_gr_1;
                border-bottom: 1px dashed $c_gr_5;
                padding: 20px 0;
                letter-spacing: 0.5px;
                @include media-breakpoint-down(sm){
                    font-size: 5vw;
                }
            }
            &--has-children{
                &>a{
                    &::after{
                        color: $c_brand;
                        content: "\E979";
                        font-family: iyte_web;
                        font-size: 10px;
                        position: absolute;
                        margin: 2px 5px;
                        transform: rotate(90deg);
                        right: initial;
                        top: initial;
                    }
                }
            }
            
        }
        
    }
    .menu--top_menu .menu__item a {
        padding: 10px 0;
        display: inline-block;
        border: none;
        width: auto;
    }



    .nav.nav--social span:before {
        font-size: 26px;
        color: #4d4d4d;
    }

    h3.title {
        margin: 20px 0px 10px 25px;
        color: #4d4d4d;
    }

    .nav.nav--social {
        display: flex;
        justify-content: space-around;
        padding: 10px 20px;
    }

    .topmenu__lang a {
        font-size: 14px;
        font-style: italic;
        color: #4d4d4d;
        position: absolute;
        top: 21px;
        left: 24px;
    }
}


.page_sub_menu{
    .parent_title{
        color: $c_gr_1;
        margin: 0 0 10px 0;
        padding: 0 0 10px 0;
        border-bottom: 1px dashed $c_gr_5;
    }
    .menu{
        li:hover a{
            background: transparent !important;
        }
        &__list{
            display: block;
            padding: 0px;
            &--submenu{
                padding: 0 0 0 10px;
                opacity: 1;
                visibility: visible;
                position: relative;
                border: none;
                transform: none;
                

                li{
                    a{
                        background: transparent !important;
                        padding: 15px 0;
                        white-space:initial;
                        
                    }
                    
                }

            }
            

        }
        &__item{
            &--current a{
                color: $c_gr_4 !important;
            }
            a{
                
                line-height: 133%;
                color: $c_gr_1;
                border-bottom: 1px dashed $c_gr_5;
                padding: 10px 0;
                letter-spacing: 0.5px;
                font-size: 17px;
                
            }

            &--has-children{
                &>a{
                    &::after{
                        color: $c_brand;
                        content: "\E979";
                        font-family: iyte_web;
                        font-size: 10px;
                        position: absolute;
                        margin: 2px 5px;
                        transform: rotate(90deg);
                        right: initial;
                        top: initial;
                    }
                }
            }
            
        }
        
    }
}

.section-title{
    letter-spacing: -0.5px;
    @at-root{
        h1#{&} {
           margin: 0 0 12px 0; 
        }
    }
}
.img-cover{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-clip: content-box;
    &.page-featured{ 
        height: 180px;
        box-shadow: inset 0px 0px 5px 5px rgba(0,0,0,0.15);
        /* background-blend-mode: hard-light; */
        /* background-color: #9a1220; */
    }
    #featured_news &{
        height:100%;
        max-height: 560px;
        @include media-breakpoint-down(xl){
            max-height: 40vw;
            background-size: contain;
        }
        @include media-breakpoint-down(md){
            max-height: 37.4vw;
            background-size: contain;
        }
    }
}

.card-stack{
    padding: 0 15px;
    flex-wrap: nowrap;
    @include media-breakpoint-down(md){
        flex-wrap: wrap;
        justify-content: space-around !important;
    }
}
.card{
    width: 24%;
    height: 200px;
    position: relative;
    margin-top:2%;
    background-blend-mode:hard-light;
    transition: $quick_tr;
    @include media-breakpoint-down(xl){
        height: 170px;
        
    }
    @include media-breakpoint-down(lg){
        height: 150px;
        
    }
    @include media-breakpoint-down(md){
        height: 200px;
        width: 48%;
        
    }
    @include media-breakpoint-down(sm){
        height: 260px;
        width: 100%;
        
    }
    &:hover{
        background-color: $c_gr_4;
        .card__title{
            color: $ca_nav_a_hover;
        }
    }
    
    .overlay{
        display: block;  
        width: 100%;
        height: 100%;
        @include linearGradient('bottom', rgba(0,0,0,.7), rgba(0,0,0,0), rgba(0,0,0,0));

    }
    &__title{
            font-size: 14px;
            font-weight: 300;
            color: #fff;
            position: absolute;
            width: 90%;
            text-align: left;
            left: 5%;
            bottom: 5%;
            margin: 0;
            text-shadow: 0px 0px 3px rgba(0,0,0,.5);
            letter-spacing: 0.5px;
            transition: $quick_tr;

            @include media-breakpoint-down(md){
                font-size: 2vw;
                bottom: 8%;
            }
            @include media-breakpoint-down(sm){
                font-size: 6vw;
                bottom: 8%;
                text-align: center;
                font-weight: 400;
            }

    }
}

.btn{
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px;
    color: #fff;
    margin: 0 10px 15px 10px;
    
    &.bordered{
        border-width: 1px;
        border-style: solid;
        border-color: #fff;
    }
    &__tooltip{
        opacity: 0;
        visibility: hidden;
        @include centerer("x");
        text-align: center;
        top:-40px;
        transition: $quick_tr;
        border-radius: 4px;
        padding: 4px 10px;
        background-color: #000; 
        white-space: nowrap;

        &:before{
            content:'';
            display:block;
            width:0;
            height:0;
            border-top: 8px solid #000;
            border-left: 8px solid transparent;
            border-right:8px solid transparent;
            bottom:-8px;

            @include centerer("x");
            
        }

    }
    &:hover{
        background-color: #000;
        color: #fff;
        &.bordered{
            border-color: #000;
        }
        
        .btn__tooltip{
            top: -44px;
            opacity: 1;
            visibility: visible;
        }

       

    }
    &__icon{
        @include centerer("xy");
        font-size: 32px; 
        &::before{

                color: #fff;
            }
        
    }
    
}

table{
    border-collapse:collapse;
    border:1px solid #e1e1e1;

    tr:nth-child(even) {background: #f1f1f1} 
    th {
        background-color: #eee;
        text-align:center;
        font-weight: 700;
    }
    
}

/*Table press modifications*/
body .tablepress tfoot th, body .tablepress thead th{
    background-color: $c_post_title;
    color: #fff;
}
body .tablepress th{
    padding: 15px 8px;
}
body .tablepress .odd td{
    background-color: #f5f5f5;
}
body .tablepress .row-hover tr:hover td{
    background-color: #e5e5e5;
}
.dataTables_length{
    margin-bottom: 15px;
    color: $c_gr_1;
    font-size: 14px;
    font-weight: 700;

}
.dataTables_filter {
    color: $c_gr_1;
    font-size: 14px;
    font-weight: 700;

    input{
        border: 0;
        box-shadow: inset 0 0 8px rgba(0,0,0,.2);
        padding: 5px 10px;
        border-radius: 4px;
    }
}