#top{
    width:100%;
    
    background-color: $c_brand;
    position: relative;
    z-index: 4;
    box-shadow: 0 1px 5px 0px rgba(0,0,0,.3);
    .brand{
        a{
            height: 0;
            img{
                min-height: 90px;
                max-height: 110px;
            }
        }
    }

    .topmenu{
        display: flex;
        height: 150px;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        .menu--primary{
            margin: 0px 0 0 30px;
            @include media-breakpoint-down(lg){
                margin-top: -6px;
            }
        }
        &__quick{
            margin:10px 0 10px 0;
            li{
                margin-left: 12px;
                vertical-align: middle;

                a{
                    font-family: $t_nav;
                    font-size: 12px;
                    color: $ca_nav_a;
                    line-height: 12px;
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-right: 1px solid #fff;
                    margin-right: 12px;
                    font-weight: 400;
                    padding: 0;
                    text-transform: uppercase;
                    @include media-breakpoint-down(lg){
                        
                        font-size: 11px;
                    }

                    &:hover{
                        color:#333;
                        

                    }
                }
                &:last-child a{
                    border: none;
                    margin-right: 0;
                }
            }
        }
        &__social{
            float: right;
            margin-bottom: 10px;
            .nav--social{
                font-size: 23px;
                
                margin-left: 15px;
                vertical-align: middle;
                a span::before{
                    transition: $quick_tr;
                }
                a:hover{
                    span:before{

                        color:#333;
                    }
                }
                

            }
        }

        &__lang {
            display: flex;
            justify-content: flex-end;
            color: #fff;
            margin-top: 10px;
            a{
                color: $c_gr_5;
                font-style: italic;
                font-size: 12px;
            }
        }

    }
    .toggle-mobile-menu{
       
        a{
            color: #fff;
            span{
                font-size: 2em;
            }
        }
    }
    .header-search{
        clear: both;
        float: right;

        #search_form{
            i.fa{
                color: #fff;
            }
            

            .search_form_wrapper{
                display: inline-block;
                border-radius: 4px;
                box-shadow: inset 0px 0px 8px rgba(0,0,0,0.2);
                padding: 0px 8px;
                vertical-align: middle;

                input, label, button {
                        padding: 0px;
                        background: transparent;
                        border: none;
                        font-size: 16px;
    
                }
                .search-field{
                    width: 135px;
                    padding: 0;
                    height: 35px;
                    background: transparent;
                    outline: none !important;
                    color: #fff;
                    @include media-breakpoint-down(xl){
                        width: 120px;
                    }
                    
                    @include media-breakpoint-down(lg){
                        width: 100px;
                    }

    
                }
                .search-field::placeholder{
                    color: $c_gr_4;
                }
                input[type=submit]{
                    padding: 4px;
                    position: relative;
                }
                
            }
                    .search_radio_wrapper {
                        vertical-align: text-bottom;
                        *{
                            vertical-align: middle;
                        }
                        input[type=radio] {
                        margin-right: 5px;
                        width: 18px;
                        height: 18px;
                        border-radius: 9px;
                        border:3px solid;
                        background:#ccc;
                        color: #fff;
                        -webkit-appearance: none;
                        outline: none !important;
                        }
                        input[type=radio]:checked{
                            background:$c_brand_dark;
                        }
                        label {
                            margin-left: 12px;
                        }
                    }
        }
    }


}

header.clean_header{
    padding: 20px 0;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
    .brand{
        width: 30%;
        @include media-breakpoint-down(lg){
            width: 25%;
        }
        @include media-breakpoint-down(md){
            width: 50%;
        }
        img.logo{
            height: 115px;
        }
        
    }
    .toggle-mobile-menu{
       
        a{
            color: $c_gr_1;
            span{
                font-size: 2em;
            }
        }
    }
    .nav{
        width:70%;
        padding-left: 10%;
        @include media-breakpoint-down(lg){
            width: 75%;
            padding-left: 5%;
        }
        @include media-breakpoint-down(md){
            width: 50%;
            position: relative;
        }

        .menu{
            margin-top: -17px;

            &__list{
                padding: 0;
                li{ 
                    a{
                        color: $c_gr_1;
                    }
                    &:hover a{
                            color: #fff;
                        }
                }
                
                
                
            }
            
            
            
        }

    }
}


        
    
