#top{
    width:100%;
    height: 70px;
    background-color: $c_brand;
    position: relative;
    z-index: 4;
    box-shadow: 0 1px 5px 0px rgba(0,0,0,.3);

    .topmenu{
        display: flex;
        height: 70px;
        flex-wrap: wrap;

        &__quick{

            li{
                margin-left: 12px;
                vertical-align: middle;

                a{
                    font-family: $t_nav;
                    font-size: 14px;
                    color: $ca_nav_a;
                    line-height: 12px;
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-right: 1px solid #fff;
                    margin-right: 12px;
                    font-weight: 400;

                    &:hover{
                        color:#333;
                        

                    }
                }
                &:last-child a{
                    border: none;
                    margin-right: 0;
                }
            }
        }
        &__social{
            .nav--social{
                font-size: 23px;
                
                margin-left: 15px;
                vertical-align: middle;
                a span::before{
                    transition: $quick_tr;
                }
                a:hover{
                    span:before{

                        color:#333;
                    }
                }
                

            }
        }
    }

}

header.clean_header{
    padding: 20px 0;
    .brand{
        width: 30%;
        
    }
    .nav{
        width:70%;
        padding-left: 10%;

        .menu{
            margin-top: -17px;

            &__list{
                padding: 0;
                li{ 
                    a{
                        color: $c_gr_1;
                    }
                    &:hover a{
                            color: #fff;
                        }
                }
                
                
                
            }
            
            
            
        }

    }
}


        
    
