#rehber_search_form {
    /* float: right; */
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 4px;
    box-shadow: inset 0 0 8px rgba(0,0,0,.2);
    padding: 0 8px;
    vertical-align: middle;
    
    input.search-field {
        width: 160px;
        padding: 0;
        height: 35px;
        background: transparent;
        outline: none!important;
    }

    input,  button {
        padding: 0;
        background: transparent;
        border: none;
        font-size: 16px;
    }

    i.fa,  input {
       color: $c_post_body;;
    }
}


