#home_guncel{
    padding: 70px 0;
    background-color: #f4f4f4;
    .col-lg-4{
        @include media-breakpoint-down(md){
        margin-bottom: 50px;
        &:last-of-type{
            margin-bottom: 0;
        }
        
    }
    }
}
.newsbox{
    h1,h2,h3,h4,h5,h6,p{
        margin: 0%;
    }
    h1, h6{
        color: $c_gr_1;
        margin: 0;
        font-weight: 300;
    }
    h3{
        color: $c_gr_2;
    }

    
    &__header{
       display: flex;
       margin-bottom: 20px;
        &--title {
            font-size: 21px;
            text-transform: uppercase;
            letter-spacing: -0.5px;
            margin: 0 0 20px 0;
            color: $c_gr_1;
            
        }
        &--link_all{
            color: $c_gr_3;
            font-size: 12px;
            font-weight: 100;
            letter-spacing: 0.5px;
            &:hover{
                color: $c_gr_1;
            }
        }
    }
    &__container{
        border: 1px solid $c_gr_5;
        background-color: #fff;
        border-radius: 4px;
        padding: 10px;

    }
    &__list{
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            padding: 20px 0;
            border-bottom: 1px dashed $c_gr_5;
            &:last-child{
                border-bottom: none;
    
            }
        }
        .newsitem{
            display: flex;
            justify-content: space-around;
            &__date, &__thumb{
                width: 8%;
                min-width: 52px;
                margin-right: 10px;
                @include media-breakpoint-up(lg){
                    width: 18%;
                }
                text-align: center;
                &--day{
                    font-size: 37px;
                    font-weight: 900;
                    letter-spacing: -1px;
                    color: $c_brand;
                    display: inline-block;
                    line-height: 100%;

                }
                &--month{
                    font-size: 11px;
                    font-weight: 100;
                    color: $c_gr_1;
                }
            }
            &__thumb{
                min-width: 70px;
            }
            &__icon{
                width: 40px;
                height: 100%;
                align-self: center;
                text-align: center;
                margin-right: 15px;
                span{
                    font-size: 21px;
                    color: $c_gr_4;
                }
            }
            &__body{
                width: 82%;
                
                @include media-breakpoint-up(lg){
                    width: 72%;
                }
                .duyurular &{
                    @include media-breakpoint-up(lg){
                        width: 100%;
                    }
                }
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;
            }
            &__title {
                font-size: 16px;
                font-weight: 700;
                letter-spacing: -0.5px;
                margin-bottom: 5px;
                line-height: 100%;
            }
            &__place{
                font-size: 12px;
                font-weight: 300;
                color: #929292;
                letter-spacing: -0.25px;

            }
            &__excerpt{
                
                font-size: 13px;
                font-weight: 300;
                color: $c_gr_1;
                height: 52px;
                overflow: hidden;
                position: relative;
                .duyurular & {
                    height: auto;
                    &::after{
                        content: initial;
                        
                    }
                }
                .announcements & {
                    height: auto;
                    &::after{
                        content: initial;
                        
                    }
                }
                &::after{
                    content: "...";
                    color:$c_gr_4;
                    text-align: left;
                    padding-left: 30%;
                    position: absolute;
                    padding-bottom: 10px;
                    bottom: 1px;
                    right: 0;
                    width: 60%;
                    height: 20px;
                    font-size: 20px;
                    font-weight: 400;
                    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
                }
                
            }
            *{
                transition: $quick_tr;
            }
            &:hover {
                *{
                    
                    color: $c_brand;
                }
                img{
                    opacity: 0.7;
                }
            }
        }
    }
}